# PostgreSQL connection string setup (Mock setup)
# Replace with your actual NeonDB credentials later.
# Format: postgresql://[user]:[password]@[host]/[dbname]?sslmode=require
DATABASE_URL=postgresql://postgresql://neondb_owner:npg_Y8CrcLBeJ3VR@ep-muddy-paper-aosw6jeu-pooler.c-2.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require
MAIL_USERNAME= yourname@gmail.com
MAIL_PASSWORD= you MUST generate a Gmail App Password. You cannot use your normal password.
To do this, go to your Google Account Security Settings -> 2-Step Verification -> App Passwords (at the bottom) -> Create one named "FoodRescue", then paste that 16-letter code into your .env.